

.pagedown-preview{
    display: none;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 5px;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 98;
}
.pagedown-preview.enabled {
    display: block;
}
.pagedown-textarea-wrapper {
    position: relative;
}
.pagedown-textarea-wrapper.pagedown-enabled .form-textarea{
  resize: none;
}
.pagedown-textarea-wrapper.split-vertical .form-textarea {
    position: relative;
    z-index: 99;
}
.pagedown-textarea-wrapper.split-vertical .pagedown-preview {
    border-top: 1px solid #999;
    border-bottom: 1px solid #CCC;
}

.pagedown-preview blockquote {
    border-left: 2px dotted #888;
    padding-left: 5px;
    background: #d0f0ff;
}
.pagedown-preview pre {
    background: #d0f0ff;
    padding: 10px;
}

.vertical-grippie {
    background: #eee url(img/vertical-grippie.png) no-repeat 2px center;
    border-top: 1px solid #999;
    border-bottom: 1px solid #CCC;
    cursor: ew-resize;
    width: 9px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    z-index: 100;
    position: absolute;
}